---
layout: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <main class="container">
      <h1 class="title-large">Fei Gao — Cello</h1>
      <nav style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          <a href="index.html">Home</a> |
          <a href="cv.html">CV</a> |
          <a href="research.html">Research</a>|
          <a href="cello.html">Cello</a> |
          <a href="Miscellaneous_talk.html">Miscellany</a>
        </div>
        <button onclick="document.body.classList.toggle('dark-theme')" style="padding: 4px 8px;">🌓 Theme</button>
      </nav>

      <section class="Cello-section">
        <h2 class="section-title">Upcoming Events</h2>
        <ul>
          <li>
            <strong>Upcoming Solo event: in 2025 Winter </strong>
            <p>(TBA), Bach Cello Suites. <br>
        
          </p>
          </li>
          <li>
            <strong>Upcoming Chamber Music Recital in 2025 Winter (or 2026 Spring)</strong>
            <p>(TBA), main: Brahms – Piano Trio No. 1 in B major, Op.8 </p>
          </li>
        </ul>
      </section>

      <section class="Cello-section">
        <h2 class="section-title">Past Events</h2>
        <ul>
          <li>
            <strong>Solo event: 2025 July 2</strong>
            <p>8th Campus Piano at The Waseda International House of Literature (The Haruki Murakami Library).<br>
            ~ Bach No.3 Cello Suites.
          </p>
          </li>
          <li> 
            <strong>213th Regular Concert of <a href="https://kanagawa-youth-orch.org/" target="_blank">神奈川県青少年交響楽団</a> (The Kanagawa Youth Orchestra) — July 20, 2025 (Sun)</strong>
            <ul>
              <li>Conductors: 松本 博樹／戸塚 克郎</li>
              <li>
                Program:
                <ul>
                  <li>Verdi – Aida Triumphal March</li>
                  <li>Brahms – Variations on a Theme by Haydn, Op.56a</li>
                  <li>Mozart – Symphony No. 35 "Haffner"</li>
                </ul>
              </li>          
            </ul>
          </li>
        </ul>
      </section>

      <section class="Cello-section">
        <h2 class="section-title">My Own Challenge</h2>
        <ul>
          <li>
            <strong>Popper Project</strong>
            <p>Upcoming videos of Popper etudes.</p>
          </li>
          <li>
            <strong>Bach Project</strong>
            <p>Upcoming videos of Bach Cello Suites.</p>
          </li>
        </ul>
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
